         <!-- Footer-->
         <footer id="footer" class=" py-4  pt-5">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto "><div class="small m-0 text-dark ">Copyright &copy; Online bank 2022</div></div>
                    <div class="col-auto">
                        <a class="link-dark small" href="#!">Privacy</a>
                        <span class="text-dark mx-1">&middot;</span>
                        <a class="link-dark  small" href="#!">Terms</a>
                        <span class="text-dark mx-1">&middot;</span>
                        <a class="link-dark small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
