<!-- nav bar -->

<div class="row">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container container-fluid">
            <div class="col-lg-10">
                <a class="navbar-brand " href="#">
                    <i class=" fa-solid fa-building-columns ps-5" id="logo"></i>&nbsp;
                    Online Banking
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/deposit">Deposit</a></li>
                            <li><a class="dropdown-item" routerLink="/withdraw">Withdraw </a></li>
                            <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" (click)="getBalance()">Balance Enquiry</a></li>
                            <li><button class="dropdown-item" routerLink="/transaction">Transaction History</button></li>
                            <hr>
                            <li><a class="dropdown-item" (click)="deleteAcno()"> Delete Account</a></li>
                            <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- logout popup -->
<div class="container mt-5 mb-5" *ngIf="isLogout">
    <div class="row text-center">
        <div class="col">
            <img class="w-25 d-block m-auto" src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif" alt="no image">
            <h4 class="mb-5">Please wait ,Your signing Out....</h4>
        </div>
    </div>
</div>

<!-- Account delete confirm -->

<app-delete-confirm [serverMsg]="deleteMsg" (onCancel)="cancel()" (onDelete)="deleteParent($event)" [item]="acno"></app-delete-confirm>

<!-- body -->
<div *ngIf="!confirmMsg">
    <div class="container" *ngIf="!isLogout" [ngClass]="acno?'hide':''">
    <div class="row" >
        <div class="col-lg-6 p-5">
            <div>
                <h1 class="mt-5 pt-5 ">Welcome <label class="animate__animated animate__pulse animate__delay-2s">{{user}}</label></h1>&nbsp;
                <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nam veniam qui, totam suscipit fugit
                    error animi dolorum odit. Quasi quisquam accusamus maiores ipsam accusantium velit delectus ad modi
                    illo?</label>
                <div class="collapse" id="collapseExample">
                    <div class=" card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda cupiditate iusto nesciunt
                        pariatur sunt? Est, similique ut laboriosam neque, asperiores, pariatur fugiat explicabo tempore
                        obcaecati repudiandae esse? Autem corporis dolor nesciunt debitis maiores enim culpa, adipisci
                        magnam doloremque soluta? Nostrum dolore laboriosam veritatis autem eligendi ab? Error libero
                        quaerat nobis?
                    </div>
                </div>
    
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample" (click)="collapse()">
                    <label *ngIf="isCollapse">Read More..</label>
                    <label *ngIf="!isCollapse">Read Less.</label>
                </button>
            </div>
        </div>
        <div class="col-lg-6 ">
            <img id="dashImg"
                src="https://img.freepik.com/free-vector/passive-earning-personal-bank-account-forex-exchange-crowdfunding-fund-raising-investment-transfer-receiving-income-online-payback-with-internet-vector-isolated-concept-metaphor-illustration_335657-4320.jpg?w=2000"
                alt="no image">
        </div>
    </div>
    </div>
</div>
<!-- balance enquiry -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Account Statement</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="text-center">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/003/216/276/small/tracking-statement-transaction-bank-illustration-concept-vector.jpg" alt="no image">
      </div>
      <div>
        <p>Hi {{user}},</p>
        <p>{{balance}}</p>
      </div>
    </div>
  </div>