<!-- nav bar -->

<div class="row">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container container-fluid">
      <div class="col-lg-10">
        <a class="navbar-brand " routerLink="/dashboard">
          <i class=" fa-solid fa-building-columns ps-5" id="logo"></i>&nbsp;
          Online Banking
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>


<div class="  m-5 p-5">
  <div class="border rounded p-5 shadow">
    <div class="row ">
      <div class="col-lg-4">
        <h4 class="small">Transaction History</h4>
      </div>
      <div class="col-lg-4">
        <!-- <label for="search"></label>&nbsp; -->
        <input (keyup)="search($event)"id="search" type="text" class="form-control  " placeholder="Transaction type">
      </div>
      <div class="col-lg-4 text-center">
        <button class="btn btn-primary" (click)="generatePdf()"> Export</button>
      </div>

    </div>

    <div id="footer" class="container mt-5 mb-5 text-center">
      <table class="table">
        <thead>

          <tr>
            <th scope="col">No</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <!-- filter:searchkey:'type' -->
          <tr *ngFor="let trans of transactions | filter:searchKey:'type'; let i=index">
            <th>{{i+1}}</th>
            <td>{{trans.type}}</td>
            <td>{{trans.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>